<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <%= message %>
  </div>
<% end %>

<div>
  <%= image_tag "top.png", size: "250x250" %>
  <div>
    <br><br><br>
    <div>
      <h2>＊  このアプリを作った理由</h2><br>
      <p>植物の生長過程を記録したいなと思ったのがきっかけです。<br>なにかを育てている人のために作りました。</p><br><br>
    </div>
    <div>
      <h2>＊  今できること</h2><br>
    </div>
    <div>
      <ul>
        <li>日記（タイトル、本文、画像）の作成・編集・削除</li>
        <li>ユーザー管理（新規登録、削除）</li>
        <li>ログイン、ログアウト</li>
      </ul>
      <br><br>
    </div>
    <div>
      <h2>＊  更新履歴等</h2><br>
      <p>2026-07-09 : ユーザー情報（なまえ、メールアドレス、パスワード）の変更機能を実装しました。</p>
      <p>2026-07-02 : ファビコン等軽微なエラーを修正しました。</p>
      <p>2026-06-22 : Ruby及びRailsのバージョン更新を行いました（Ruby:3.3.6 → 3.4.9 / Rails:7.2.3.1 → 8.1.3）。</p><br>
      <p>そのほかの更新履歴、実装予定については、CHANGELOG.mdに記載しています。</p><br><br><br><br>
    </div>
  </div>
</div>