

<div class="bg-white-400 flex items-center justify-center">
  <div class="bg-#fff-800">
  <%= image_tag 'top.png' %>

<div>
<br><br><br>
</div>
<div>
  <h2 class="text-3xl">このアプリについて</h2><br>
      <p>最近植物を育てているので、観察日記のアプリが欲しくて作成しました。<br><br></p>
</div>
<div>
<h2 class="text-3xl">今できること</h2><br>
</div>
<div> 
  <h3>・新規登録</h3>
    <p>メールアドレスは、多分半角英数字の羅列だったらなんでも通ると思います。<br>
    パスワードは、↑  + ３文字以上でいけると思います。</p><br>
  <h3>・ログイン、ログアウト</h3>
    <p>もしかすると、新規登録時、登録→もう一回メールアドレスとパスワードを入力しなければいけないかも。</p><br>
  <h3>・記事の一覧表示</h3><br>
  <h3>・記事の新規作成、編集、削除</h3>
</div>
<div>
<p></p>
</div>
<br>
  </div>
</div>
