

<div class="bg-white-400 flex items-center justify-center">
  <div class="bg-#fff-800">
  <%= image_tag 'top.png' %>
<h1 class="text-3xl font-bold underline m-8">
    観察日記
  </h1>

トップページ

・このアプリについて
：観察日記のアプリです。
<br>
<br>
<br>
<br>
  </div>
</div>
