

<div class="bg-white-400 flex items-center justify-center">
  <div class="bg-white-800">
  <%= image_tag 'top.png' %>

<div>
<br><br><br>
</div>
<div>
  <h2 class="text-3xl">＊　このアプリを作った理由</h2><br><br>
      <p>最近植物を育てているのですが、その生長過程を記録したいなと思ったのがきっかけです。<br>
      なにかを育てている人のために作りました。</p><br><br><br><br>
</div>
<div>
<h2 class="text-3xl">＊　今できること</h2><br><br>
</div>
<div> 
  <h3>・日記（投稿）の作成・編集・削除</h3><br><br>
  <h3>・日記（投稿）の一覧表示</h3><br><br>
  <h3>・ユーザー管理（新規登録、削除）</h3><br>
  <p>Sorceryというgemを使用したので、メールアドレスやパスワードのバリデーションはそれに準拠しているはず。<br>
    パスワードは６文字以上。</p><br><br>
  <h3>・ログイン、ログアウト</h3><br>
  <p>新規登録時、新規登録 → さらにログイン…としなければいけないかもしれない。【要検証】</p><br>
  
  <br><br><br><br>
</div>
<div>
<h2 class="text-3xl">＊　これから実装、作業したいこと</h2><br><br>
</div>
<div> 
  <h3>・画像の投稿</h3><br>
    <p>一番のメイン機能。</p><br><br>
  <h3>・サブ項目の追加</h3><br>
    <p>気になることや、これからの作業予定等を書くところ等。</p><br><br>
  <h3>・レイアウト、デザイン全般</h3><br>
    <p></p><br><br><br><br><br><br><br>
</div>
<div>
<p></p>
</div>
<br>
  </div>
</div>
