
<div class="w-full max-w-3/4 m-auto">
  <%= image_tag 'top.png' %>
  <div>
    <br><br><br>
    <div>
      <h2 class="text-3xl">＊  このアプリを作った理由</h2><br><br>
      <p>最近植物を育てているのですが、その生長過程を記録したいなと思ったのがきっかけです。<br>なにかを育てている人のために作りました。</p><br><br><br><br>
    </div>
    <div>
      <h2 class="text-3xl">＊  今できること</h2><br><br>
    </div>
    <div>
      <ul>
        <li>・日記（タイトル、本文、画像）の作成・編集・削除</li><br>
        <li>・ユーザー管理（新規登録、削除）</li><br>
        <li>・ログイン、ログアウト</li><br>
      </ul>
      <br><br><br><br>
    </div>
    <div>
      <h2 class="text-3xl">＊  更新履歴、実装予定</h2><br><br>
    </div>
    <div> 
      <p>CHANGELOG.mdに記載しています。</p><br><br><br><br><br><br>
    </div>
  </div>
</div>