
<div class="w-full max-w-3/4 m-auto">
  <%= image_tag 'top.png' %>
  <div>
    <br><br><br>
    <div>
      <h2 class="text-3xl">＊  このアプリを作った理由</h2><br>
      <p>最近植物を育てているのですが、その生長過程を記録したいなと思ったのがきっかけです。<br>なにかを育てている人のために作りました。</p><br><br>
    </div>
    <div>
      <h2 class="text-3xl">＊  今できること</h2><br>
    </div>
    <div>
      <ul>
        <li>・日記（タイトル、本文、画像）の作成・編集・削除</li>
        <li>・ユーザー管理（新規登録、削除）</li>
        <li>・ログイン、ログアウト</li>
      </ul>
      <br><br>
    </div>
    <div>
      <h2 class="text-3xl">＊  更新履歴、実装予定</h2><br>
      <p>2026-5-29 : 現在、以下の状況でエラーが発生することを確認しています。（対応中）</p>
      <ul>
        <li>・画像なしで投稿しようとした場合</li>
        <li>・画像なしで投稿したものを閲覧しようとした場合</li>
        <li>・画像なしで投稿したものを削除しようとした場合</li>
      </ul><br>
      <p>そのほかの更新履歴等については、CHANGELOG.mdに記載しています。</p><br><br><br><br>
    </div>
  </div>
</div>