<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1><%= t('.title') %></h1>
      <%= render 'form' %>
      <div class='text-center'>
        <%= link_to t('.to_top_page'), root_path %>
      </div>
    </div>
  </div>
</div>