<header>
  </nav>
  <div class="flex justify-start">
    <%= link_to '/', class: 'toppage' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div class="flex justify-end">
      <div>
        <%= link_to t('header.login'), login_path %>
      </div>
    </div>
  </div>
</header>