<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div class='navbar-collapse'>
            <%= link_to t('header.login'), login_path, class: "nav-link" %>
    </div>
  </nav>
</header>