<footer id='footer' class='footer-bottom'>
  <div class='container'>
      <div class="bg-white-400 flex items-center justify-center">
        <div class='copyright'>
          <p>Copyright © 2026. Takisemi</p>
        </div>
      </div>
  </div>
</footer>