<header>
  <div class="flex justify-start">
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div class="flex justify-end">
      <div>
        <%= link_to t('header.profile'), '#', class: 'dropdown-item' %>
        <%= button_to t('header.logout'), logout_path, class: 'dropdown-item', method: :delete, data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</header>