<header>
  <div class="flex justify-start">
    <%= link_to '/', class: 'toppage' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div class="flex justify-end">
      <div>
        <%= link_to '日記一覧', posts_path %>
        <%= button_to t('header.logout'), logout_path, method: :delete, data: { turbo_method: :delete } %>
      </div>
    </div>
  </div>
</header>