<div class="w-full max-w-3/4 m-auto text-left">
<h1>日記一覧</h1>

<%= link_to '新規で書く', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <td><%= l post.created_at, format: :short %></td><%= link_to post.title, post %>
    </li>
  <% end %>
</ul>
</div>